.pb-0 {
    padding-bottom: 0;
}

.catalogue-roll-container .catalogue-roll-tabs {
    border-top: 1px solid #f5f6f5;
    border-bottom: 1px solid #f5f6f5;
    margin-bottom: 0px;
}

.catalogue-roll-container .catalogue-roll-tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalogue-roll-container .catalogue-roll-tabs ul li {
    padding: 15px 15px;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.catalogue-roll-container .catalogue-roll-tabs ul li:hover {
    color: rgb(255, 68, 0);
}

.catalogue-roll-container .catalogue-roll-tabs ul li.active {
    color: rgb(255, 68, 0);
}

.catalogue-roll-container .catalogue-roll-tabs ul li:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.catalogue-roll-container .catalogue-roll-tabs ul li:hover:after {
    border-bottom-color: rgb(255, 68, 0);
}

.catalogue-roll-container .catalogue-roll-tabs ul li.active:after {
    border-bottom-color: rgb(255, 68, 0);
}

.catalogue-roll-container .catalogue-modules {
    background: linear-gradient(90deg, #fff 0, #fff 49%, #fafafa 50%, #fafafa 100%);
    padding-top: 1px;
}

.catalogue-roll-container .catalogue-modules .catalogue-apps-modules {
    background: #fafafa;
    padding: 0.75rem;
    padding-top: 30px;
    border-left: 1px #f5f6f5 solid;
    min-height: 385px;
}

.catalogue-roll-container .common-container {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #f5f6f5;
}

.catalogue-roll-container .catalog-app-text {
    display: inline-block;
    width: auto;
}

.catalogue-roll-container .catalog-app-text h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
    color: #3b4859;
    margin-top: 0px;
}

.catalogue-roll-container .catalog-app-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #3b4859;
    margin-bottom: 0px;
}

.catalogue-roll-container .catalogue-fliter {
    display: block;
    margin-top: 45px;
}

.catalogue-roll-container .catalogue-fliter .sidebar-filter-title {
    border-bottom: 1px solid #dce0e6;
    padding: 0.5em 0.5em 0.5em 0;
    margin-bottom: 1.25em;
}

.catalogue-roll-container .catalogue-fliter .sidebar-filter-title h3 {
    color: #8e96a3;
    font-size: .85714rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.catalogue-roll-container .catalogue-fliter .sidebar-filter-title .sidebar-reset-filters {
    float: right;
    text-transform: none;
    color: #6f7682;
    font-weight: 400;
    text-decoration: underline;
    font-size: .85714rem;
}

.catalogue-roll-container .catalogue-fliter .sidebar-filter-title .sidebar-reset-filters:hover {
    color: rgb(255, 68, 0);
}

.catalogue-roll-container .create-btn {
    background: #3b7cff;
    color: #ffffff;
    border: none;
    padding: 7px 10px;
    border-radius: 0px;
    float: right;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 0px;
}

.catalogue-roll-container .create-btn:hover {
    background: #0f5efd;
}

.catalogue-roll-container .catalogue-fliter .category-select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
}

.catalogue-roll-container .catalogue-fliter .category-select .input.select {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    background-color: #ffffff;
}

.catalogue-roll-container .catalogue-fliter .category-control-group {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.catalogue-roll-container .catalogue-fliter .category-control-group button {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background: none;
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.catalogue-roll-container .catalogue-fliter .category-control-group button img {
    vertical-align: middle;
    margin-top: -2px;
}

.catalogue-roll-container .catalogue-fliter .category-control-group button:focus {
    outline: none;
}

.catalogue-roll-container .catalogue-fliter .category-control-group .input {
    padding-left: 40px;
}

.catalogue-roll-container .catalogue-boxes {
    border-top: 1px solid #f5f6f5;
    padding-top: 20px;
}

.catalogue-roll-container .catalogue-boxes .box {
    border-radius: 2px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border: 1px solid #dce0e6;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 0;
}

.catalogue-roll-container .catalogue-boxes .box:hover {
    border-color: rgb(255, 68, 0);
}

.catalogue-roll-container .catalogue-boxes .box .module-card-content {
    padding: 1.25rem 10px;
}

.catalogue-roll-container .catalogue-boxes .box .module-card-footer {
    height: 40px;
    padding: 0 10px 0 10px;
    border-top: 1px solid #dce0e6;
    background: #f7f8fa;
    color: #6f7682;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: .8rem;
    font-weight: 500;
}

.catalogue-roll-container .catalogue-boxes .box .module-card-footer .module-card-footer-details>* img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

.catalogue-roll-container .catalogue-boxes .box .module-card-footer .module-card-footer-provider img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

.catalogue-roll-container .catalogue-boxes .blog-list-item .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.catalogue-roll-container .catalogue-boxes .blog-list-item .title a {
    color: #3b4859;
}

.catalogue-roll-container .catalogue-boxes .blog-list-item .subtitle {
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.catalogue-roll-container .catalogue-boxes .blog-list-item ul {
    margin-bottom: 0.2rem;
}

.catalogue-roll-container .catalogue-boxes .blog-list-item ul li {
    font-size: 12px;
}


@media screen and (max-width: 992px) {
    .catalogue-roll-container .catalogue-modules {
        background: none;
    }

    .catalogue-roll-container .catalogue-fliter {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .catalogue-roll-container .catalogue-fliter .fliter-left {
        width: 30%;
    }

    .catalogue-roll-container .catalogue-fliter .fliter-right {
        width: 70%;
    }

    .catalogue-roll-container .catalogue-modules .catalogue-apps-modules {
        background: #fff;
        padding: 0;
        padding-top: 0;
        border-left: none;
    }

    .catalogue-roll-container .catalogue-boxes .box .module-card-footer {
        font-size: 0.7rem;
    }

    .catalogue-roll-container .catalogue-boxes .box .module-card-footer .module-card-footer-details {
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 580px) {
    .catalogue-roll-container .catalogue-fliter .fliter-left {
        width: 100%;
        margin-bottom: 10px;
    }

    .catalogue-roll-container .catalogue-fliter .fliter-right {
        width: 100%;
    }

    .catalogue-roll-container .catalog-app-text {
        width: 100%;
    }

    .catalogue-roll-container .create-btn {
        float: none;
    }
}


.catalog-form-group .form-group {
    margin-bottom: 1rem;
    display: flex;
}

.catalog-form-group .form-group label {
    width: 33%;
    line-height: 40px;
}

.catalog-form-group .form-group .input {
    width: 250px;
    max-width: 250px;
}

.catalog-form-group .form-group .input.select {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    background-color: #f0f3f7;
}

.catalog-form-group .library-group {
    display: block;
}

.catalog-form-group .library-group label {
    width: 100%;
    line-height: 40px;
}

.catalog-form-group .form-group.text-right {
    text-align: right;
    margin-bottom: 0;
    margin-top: 50px;
    justify-content: flex-end;
}

.catalog-form-group .form-group .gray-button {
    background: #dde4e9;
    color: #8392a7;
    border: none;
    padding: 7px 18px;
    border-radius: 0px;
    margin-right: 10px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.catalog-form-group .form-group .gray-button:hover {
    background: #dbe0e4;
    color: #8392a7;
}

.catalog-form-group .form-group .blue-button {
    background: #3b7cff;
    color: #ffffff;
    border: none;
    padding: 7px 18px;
    border-radius: 0px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.catalog-form-group .form-group .blue-button:hover {
    background: #0f5efd;
    color: #ffffff;
}

.catalog-form-group .general-heading {
    display: block;
    padding-bottom: 5px;
}

.catalog-form-group .general-heading input {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    cursor: pointer;
}

.catalog-form-group .general-heading span {
    display: inline-block;
    padding-left: 15px;
    padding-top: 1px;
    vertical-align: top;
    cursor: pointer;
}

.catalog-form-group .general-heading h4 {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #3b4859;
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 2px;
}

.catalog-form-group .general-logs {
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.catalog-form-group .general-logs input {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    cursor: pointer;
}

.catalog-form-group .general-logs span {
    display: inline-block;
    padding-left: 15px;
    padding-top: 3px;
    vertical-align: top;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #3b4859;
}

.catalog-form-group .general-logs h4 {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #3b4859;
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 2px;
}

.catalog-form-group .collapse:not(.show) {
    display: none;
}

.catalog-form-group .show {
    display: block;
}

.catalog-form-group .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.add-catalogue-container .catalog-form-group .form-group {
    flex-wrap: wrap;
}

.add-catalogue-container .catalog-form-group .form-group .input {
    width: 100%;
    max-width: 100%;
}

.add-catalogue-container .catalog-form-group .form-group .input.select {
    width: 100%;
    max-width: 100%;
}

.add-catalogue-container .catalog-form-group .form-group .input.textarea {
    height: 100px;
}


.left-filter strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.left-filter .input.select {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    background-color: #f0f3f7;
}

.dashboard-list .dashboard-list-item {
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.dashboard-list .dashboard-list-item .dashboard-name {
    font-size: 18px;
    font-weight: 600;
    color: #3b4859;
}

.dashboard-list .dashboard-list-item .dashboard-des {
    color: #3b4859;
}

.dashboard-list .dashboard-list-item .dashboard-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.dashboard-list .dashboard-list-item .dashboard-link ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3b4859;
}

.dashboard-list .dashboard-list-item .dashboard-link ul li img {
    vertical-align: middle;
}


.dashboard-list .dashboard-list-item .right-downloads ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.dashboard-list .dashboard-list-item .right-downloads ul li {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #3b4859;
    text-align: right;
}


@media (max-width: 1023px) {
    .catalogue-roll-container .common-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .catalogue-roll-container .blog-list-item .columns {
        display: flex;
    }

    .catalogue-roll-container .blog-list-item .column.is-2 {
        flex: none;
        width: 16.66667%;
    }

    .catalogue-roll-container .blog-list-item .column.is-10 {
        flex: none;
        width: 83.33333%;
    }
}